[Unit]
Description=TheMachine Librarian File System (LFS)
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/tm-lfs
ExecStart=/usr/bin/lfs_fuse.py $OPT_ARGS

[Install]
WantedBy=multi-user.target
