[Unit]
Description=The Machine Librarian
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/default/tm-librarian
ExecStart=/usr/bin/tm-librarian $OPT_ARGS

[Install]
WantedBy=multi-user.target
