Source: tm-librarian
Section: unknown
Priority: optional
Maintainer: Greg Pearson <greg.pearson@hpe.com>
Build-Depends: debhelper (>= 9), dh-python, python3
Standards-Version: 3.9.6
X-Python3-Version: >= 3.2

Package: tm-librarian-common
Architecture: all
Depends:
Recommends: attr
Description: The Machine Librarian
 The Machine NVM management common

Package: tm-librarian-server
Architecture: all
Depends: tm-librarian-common
Recommends:
Description: The Machine Librarian
 The Machine NVM management server

Package: tm-librarian-client
Architecture: all
Depends: tm-librarian-common
Recommends:
Description: The Machine Librarian
 The Machine NVM management client
