Source: tm-librarian
Section: misc
Priority: optional
Maintainer: Greg Pearson <greg.pearson@hpe.com>
Uploaders: Keith Packard <keithp@keithp.com>
Origin: HPE
Build-Depends: debhelper (>= 9),
	dh-python,
	dh-exec,
	python3 (>= 3.2)
Standards-Version: 3.9.8
X-Python3-Version: >= 3.2

Package: python3-tm-librarian
Architecture: all
Depends: python3 (>= 3.2),
	${python3:Depends},
	${misc:Depends}
Description: The Machine python3 library
 Python3 library code for tm-librarian, tm-lfs and tm-utils

Package: tm-librarian
Architecture: all
Depends: python3 (>= 3.2),
	python3-tm-librarian,
	${misc:Depends}
Recommends: attr, tm-utils
Description: Librarian for The Machine
 Librarian file system daemon for The Machine

Package: tm-lfs
Architecture: all
Depends: python3 (>= 3.2),
	python3-tm-librarian,
	tm-libfuse,
	${misc:Depends}
Description: Library File System for The Machine
 Node file system proxy for The Machine

Package: tm-utils
Architecture: all
Depends: python3 (>= 3.2),
	python3-tm-librarian,
	${misc:Depends}
Description: Fabric Attached Memory utilities for The Machine
 Utilities for managing the libarian and fabric attached memory

Package: tm-lmp
Architecture: all
Depends: python3 (>= 3.2),
	python3-tm-librarian,
	python3-flask,
	${misc:Depends}
Description: LMP daemon for The Machine
 Librarian Management Protocol daemon for The Machine fabric attached memory
