<!doctype html>
<HTML>
<HEAD><TITLE>Librarian Monitoring Protocol (LMP)</TITLE>
</HEAD>

<BODY>
<H1>Available Views:</H1>
<UL>
    <LI><A HREF="{{ url }}global/"> /global</A> - list global memory usage information</LI>
    <LI><A HREF="{{ url }}nodes/"> /nodes</A> - list nodes in The Machine instance managed by the Librarian</LI>
    <LI><A HREF="{{ url }}interleaveGroups/"> /interleaveGroups</A> - list interleave groups in The Machine instance managed by the Librarian</LI>
    <LI>/allocated/{coordinate} - list allocations across The Machine</LI>
<I>coordinate: subset of the machine to report allocations about. It can be the coordinate of a rack, enclosure, node, memory board or media controller. In each case, the data reported will reflect allocations within that portion of the machine. It may also be the coordinate of the full machine, in which case the values reported will be the same as would be reported in the /global API for the same fields.</I>
    <LI>/active/{coordinate} - list memory access by SOCs across The Machine</LI>
<I>coordinate: SoC to report information about, or the coordinate of the machine itself, in which case the values reported will be the same as would be reported for the same elements of the /global response.</I>
    <LI><A HREF="{{ url }}shelf/"> /shelf/</A>{pathname} - list directory information (pathname = directory)</LI>
<I>pathname: Full path of the directory within the librarian file system (not including the /lfs prefix used within the nodes). For the FRD, there are no sub-directories, so this must be empty.</I>
    <LI>/shelf/{pathname} - list shelf information (pathname = shelf)</LI>
<I>pathname: Full path of the shelf within the librarian file system (not including the /lfs prefix used within the nodes)</I>
    <LI><A HREF="{{ url }}books/"> /books/</A>{interleave-group} - list information about all books</LI>
<I>interleave-group: (optional) Interleave group to limit book list for. If not present, information for all interleave groups is returned.</I>
</UL>
</BODY>
</HTML>
