<!doctype html>
<HTML>
<HEAD><TITLE>LMP - List of Nodes</TITLE>
</HEAD>

<BODY>
<H3>LMP - List of Nodes (version {{ api_version }})</H3>
    {% for node in nodes %}
    <H4>nodes:</H4>
    <UL>
        <LI>coordinate -> {{ node['coordinate'] }}</LI>
        <LI>serialNumber -> {{ node['serialNumber'] }}</LI>
        <H4>soc:</H4>
        <UL>
        {% for key, value in node['soc'].items() %}
            <LI>{{ key }} -> {{ value }}</LI>
        {% endfor %}
        </UL>
        <H4>mediaControllers:</H4>
        <UL>
        {% for mc in node['mediaControllers'] %}
            {% for key, value in mc.items() %}
                <LI>{{ key }} -> {{ value }}</LI>
            {% endfor %}
        {% endfor %}
        </UL>
    </UL>
    {% endfor %}
</BODY>
</HTML>
